.button-drizzy {
    color: white;
    background: linear-gradient(to right, #0073e6, #0095ff, #00b3ff);
    
    &:hover {
        background: linear-gradient(to bottom right, #0073e6, #00b3ff);
    }
    
    outline: none;
    display: flex;
    
    /* Dark mode focus ring */
    &.dark:focus {
        outline: none;
        box-shadow: 0 0 0 8px #005a99;
    }

    font-size: 1.25rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
}